@using Microsoft.Extensions.Options
@model IEnumerable<MusicStore.Web.Models.Domain.UserPlaylist>
@inject IOptions<MusicStore.Domain.StripeSettings> Stripe

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Playlists</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th> Songs In Playlist </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if(item.isPurchased == false){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Email)
            </td>
                <td>
                    @if (item.TracksInPlaylist != null && item.TracksInPlaylist.Any())
                    {
                        foreach (var song in item.TracksInPlaylist)
                        {
                            <div>
                                @song.Track.TrackName
                            </div>
                        }
                    }
                    else
                    {
                        <div>No tracks available</div>
                    }
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> |
                    <form asp-controller="UserPlaylists" asp-action="PayOrder" asp-route-id="@item.Id" method="post">
                        <article>
                            <script src="https://checkout.stripe.com/checkout.js"
                                    class="stripe-button"
                                    data-key="@Stripe.Value.PublishableKey"
                                    data-locale="auto"
                                    data-description="Music store Application Payment"
                                    data-amount="@(item.TracksInPlaylist.Count()*100)"
                                    data-label="Pay $@(item.TracksInPlaylist.Count())">
                            </script>
                        </article>
                    </form>
            </td>
        </tr>
}
}
    </tbody>
</table>
